/* font-family: 'Arima Madurai', cursive;
font-family: 'Alef', sans-serif; */

h1 {
  font-family: 'Arima Madurai', cursive;
} 

header {
  background-image: linear-gradient(rgba(221, 154, 98, 0.5),rgba(0, 0, 0, 0.2)), url('../styles/assets/design-detail-geometric-691710.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
} 